body
{
	background-color: powderblue;
	margin: 0px;
}

.header
{
	position: sticky;
	top: 0px;
	background-color: aqua;
}

.header div
{
	font-size: 35px;
	margin-left: 16px;
}

.header hr
{
	height: 0px;
    border: none;
    border-top: 3px solid black;
}

.main
{
	margin: 8px;
}

table, td, th
{
	border: 1px solid;
	text-align: center;
	border-collapse: collapse;
	padding: 3px;
}

tr:nth-child(2n)
{
	background-color: lightgray;
}

tr:nth-child(2n+1)
{
	background-color: white;
}

tr:first-child
{
	background-color: wheat;
	border: 2px solid;
}